@import "base/fonts";
@import "base/variables";
@import "base/mixins";

@media (max-width: 2500px) {
  #products{
    .product{
      max-height: 800px;
    }
  }
}
@media (max-width: 2000px) {
  #products{
    .product{
      max-height: 700px;
    }
  }
}
@media (max-width: 1800px) {
  .container{
    padding-left:30px;
    padding-right:30px;
  }
  /*.owl-next{
    right: -25px;
  }
  .owl-prev{
    left: -25px;
  }*/
  nav.navbar.bootsnav {
    ul.navbar-nav {
      li {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1599px) {
  #products{
    .pro_brands{
      .panel-group{
        .panel{
          .panel-heading{
            a{
              font-size: 18px;
             }
          }
        }
      }
    }
  }
  nav.navbar.bootsnav {
    .container{
      padding: 0;
    }
    ul.navbar-nav {
      li {
        width: 16%;
        a{
          line-height: 40px;
          &.dropdown-toggle:after{
            position: absolute;
            right: 0;
          }
        }
        .dropdown-menu{
          li{
            width: auto;
            a{
              min-height: inherit;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  #search{
    .search_content{
      form{
        .search-test{
          width: 90%;
        }
      }
      ul{
        li{
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  #three_list{
    h3{
      font-size: 20px;
    }
  }
  #product_list{
    .list_pro{
      .quick {
        line-height: inherit;
        a{
          padding-top: 90%;
          display: inline-block;
        }
      }
    }
  }
  #cart{
    .discount_coupon{
      .form-control{
        width: 70%;
      }
    }
  }
  #checkout{
    .order_summry{
      .item-list{
        li{
          .chk_prc{
            width:65%;
          }
        }
      }
    }
  }
  #product_detail{
    .color-table{
      table{
        td{
          &.qty{
            width: 25%;
            .btn{
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #search{
    .search_content{
      ul{
        li{
          padding-left: 5px;
          padding-right: 5px;
          a{
            font-size: 18px;
          }
        }
      }
    }
  }
  /*.owl-next{
    right: -20px;
  }
  .owl-prev{
    left: -2%;
  }*/
  #three_list{
    h3{
      font-size: 16px;
    }
    .icon{
      top:35px;
    }
  }
  footer{
    h3{
      font-size: 16px;
    }
    .p-right80{
      padding-right: 0;
    }
  }
  #product_list{
    .list_pro{
      .quick {
        line-height: inherit;
        a{
          padding-top: 90%;
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container{
    padding-left:20px;
    padding-right:20px;
  }
  #search{
    .search_content{
      ul{
        margin-bottom: 15px;
        li{
          padding-right: 15px;
          padding-left: 15px;
          a{
            font-size: 18px;
          }
        }
      }
    }
  }
  header{
    .text-right{
      text-align: center;
      margin-bottom: 20px;
    }
  }
  #main_slider{
    .carousel-caption{
      left: 10%;
      right: 10%;
    }
  }
  #about{
    p{
      padding: 0;
    }
  }
  #search{
    height: auto;
    .search_content{
      position: static;
      width: 100%;
    }
  }
  nav.navbar.bootsnav{
    padding-bottom: 0;
    .navbar-collapse{
      max-height: inherit !important;
    }
    .container{
      padding: 0 15px;
    }
    .navbar-toggle{
      @include border-radius(0);
      background: none;
      color: #fff;
      margin: 0;
      padding: 5px 0 12px;
      span{
        font-family: $bold;
        text-transform: uppercase;
      }
    }
    ul.navbar-nav{
      padding-right: 0;
      padding-left: 0;
      margin: 0px;
      li{
        width: auto;
        a{
          min-height:inherit;
          line-height: 45px;
          border-top: none;
          border-bottom-color: #666;
          padding-left: 10px;
          padding-right: 10px;
          img{
            display: none !important;
          }
          span{
            display: block;
            color: $white;
            font-size: 20px;
          }
          &:hover{
            span{
              color: $black;
            }
          }
        }
        &.dropdown{
          a.dropdown-toggle:before{
            font-size: 30px;
            padding-right: 7px;
          }
          ul.dropdown-menu{
            background: $white;
            .title:before{
              font-size: 30px;
              padding-right: 20px;
            }
            p{
              display: none;
            }
          }
        }
      }
    }
  }
  #three_list{
    h3{
      font-size: 18px;
      margin-top: 30px;
    }
    .icon{
      top:15px;
    }
  }
  footer{
    text-align: center;
  }
  #product_list{
    .toolbars{
      margin-top: 50px;
    }
    .list_pro{
      .quick {
        line-height: inherit;
        float:  none !important;
        margin-top: 15px;
        a{
          padding: 10px ;
        }
      }
    }
  }
  #cart{
    .col-md-4{
      margin-top: 30px
    }
    .discount_coupon{
      .btn{
        float: none;
      }
    }
    .cart_qty{
      .form-control{
        padding-left: 0;
        padding-right: 0;
      }
      span.input-group-btn{
        .btn{
          padding: 5px 10px;
          height: 33px;
          line-height: 12px;
        }
      }
    }
  }
  #checkout{
    .order_summry{
      .item-list{
        li{
          .chk_prc{
            width:86%;
          }
        }
      }
    }
  }
}


/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
  #main_slider{
    img{
      min-height: 300px;
    }
  }
  header{
    .container{
      ul{
        li{
          padding: 0;
          font-size: 14px;
        }
      }
    }
  }
  #other_product{
    h1{
      font-size: 30px;
    }
  }
  #cart{
    #table-breakpoint{
      border-bottom: #b3b3b3 solid 1px;
      width: 100%;
      td{
        border-top: none;
        border-bottom: none;
        padding: 0;
        &:first-child{
          border-top: #b3b3b3 solid 1px;
        }
        &:before{
          text-align: left;
          border-right: #b3b3b3 solid 1px;
          padding: 10px;
        }
        span{
          padding: 10px;
        }
      }
    }
    .cart_qty{
      .form-control{
        padding-left: 0;
        padding-right: 0;
      }
      span.input-group-btn{
        .btn{
          padding:0px;
          height: 33px;
          width: 33px;
          line-height: 12px;
        }
      }
    }
    .cart_btns{
      .btn-default{
        display: block;
        margin-bottom: 10px;
      }
    }
    .discount_coupon{
      .form-control{
        display: inline-block;
      }
    }
  }
  .other_menu{
    margin: 0px;
    li{
      padding: 20px 0;
      border-bottom:1px solid #666;
      a{
        color: $white;
        font-size:20px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  #checkout{
    .form-horizontal{
      .form-group{
        margin-bottom: 0;
        .col-sm-6{
          margin-bottom: 20px;
        }
      }
    }
    .order_summry{
      margin-top: 30px;
      .item-list{
        li{
          .chk_prc{
            width:85%;
          }
        }
      }
    }
  }
  #payment{
    .form-horizontal{
      .form-group{
        margin-bottom: 0;
        .col-sm-6,
        .col-sm-12,
        .col-sm-3{
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 643px) {
  #product_list {
    .toolbars {
      .pull-left{
        li{
          margin-right: 0px;
          a{
            font-size: 1.5em;
          }
        }
      }
      .pull-right{
        li{
          margin-right: 0px;
          padding-right: 0;
        }
      }
    }
  }
  #checkout{
    .order_summry{
      .item-list{
        li{
          .chk_prc{
            width:78%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #product_list{
    .pro_list{
      .col-xs-6{
        width: 100%;
      }
    }
  }
  #product_detail{
    .pro_tabs{
      .nav-tabs{
        max-width: 320px;
        overflow-x: auto;
        white-space: nowrap;
        li{
          display: table-cell;
          float: none;
          a{
            font-size: 15px;
          }
        }
      }
    }
    .pro_detail{
      text-align: center;
      .add_cart{
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        a{
          display: block;
        }
      }
    }
  }
  #checkout{
    .order_summry{
      .item-list{
        li{
          .chk_prc{
            width:70%;
          }
        }
      }
    }
  }
}

/* Mobile devices */
@media (max-width: 359px) {
  nav.navbar.bootsnav{
    ul.navbar-nav{
      li{
        a{
          img{
            max-width: 90%;
          }
        }
        &.dropdown{
          a.dropdown-toggle:before{
            padding-right: 0px;
          }
        }
      }
    }
  }
  #checkout{
    .order_summry{
      .item-list{
        li{
          .chk_prc{
            width:65%;
          }
        }
      }
    }
  }
}
/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

@media print {

}