// RESET CSS
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
* {	margin:0;
  padding:0;
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  box-sizing:  border-box;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family:$normal;
  font-size:16px;
  line-height:24px;
  color: $black;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-family: $bold;
}
img {
  max-width:100%;
  vertical-align:bottom;
  border:none;
}
hr {
  margin: 10px 0
}
ul, li{
  list-style: none;
}
// RESET CLASSES
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#page-wrapper { height: 100%}
.container{
  max-width: 1752px;
  width: auto;
}
#page-wrapper,
footer,
header {
  &:after {
    content:"";
    display:block;
    clear:both;
  }
}
// RESET LINKS
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
a {
  text-decoration:none;
  color:$black;

  &:hover,
  &:focus,
  &:active {
    color:$blue;
    text-decoration:none;
  }
}
input[type="button"], input[type="submit"], button {
  width:auto;
  outline:none;
  cursor:pointer;

  &:hover,
  &:focus {
    outline:none;
  }
}

// FONT SIZE
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.f-size14{ font-size:14px;}

// PADDINGS
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Padding Left
.p-left0{ padding-left: 0px}
.p-left10{ padding-left:10px}

// Padding Right
.p-right0{ padding-right:0px}
.p-right10{ padding-right:10px}
.p-right80{ padding-right: 80px}

// Padding Top
.p-top10{ padding-top:10px}
.p-top30{ padding-top:30px}
.p-top50{ padding-top:50px}

// Padding Bottom
.p-bottom10{ padding-bottom:10px}
.p-bottom50{ padding-bottom:50px}

// Padding Top-Bottom
.p-tb20{ padding-top:20px; padding-bottom:20px}
.p-tb30{ padding-top:30px; padding-bottom:30px}
.p-tb40{ padding-top:40px; padding-bottom:40px}
.p-tb50{ padding-top:50px; padding-bottom:50px}
.p-tb60{ padding-top:60px; padding-bottom:60px}

// Padding Left-right
.p-lr15{
  padding-left: 15px; padding-right: 15px;
}
.p-lr20{
  padding-left: 20px; padding-right: 20px;
}
// MARGINS
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Margin Left
.m-left10{ margin-left:10px}

//Margin Right
.m-right10{ margin-right:10px;}

//Margin Top
.m-top0{ margin-top:0px}
.m-top10{ margin-top:10px}
.m-top20{ margin-top:20px}
.m-top30{ margin-top:30px}
.m-top50{ margin-top:50px}
.m-top60{ margin-top:60px}
.m-top70{ margin-top:70px}
.m-top80{ margin-top:80px}

// Margin Bottom
.m-bottom0{ margin-bottom: 0}
.m-bottom20{ margin-bottom:20px}
.m-bottom30{ margin-bottom:30px}
.m-bottom50{ margin-bottom:50px}

// Margin Top - Bottom
.m-tb0{ margin-top:0px; margin-bottom:0px;}
.m-tb20{ margin-top:20px; margin-bottom:20px;}
.m-tb30{ margin-top:30px; margin-bottom:30px;}
.m-tb50{ margin-top:30px; margin-bottom:30px;}
.m-tb80{ margin-top:80px; margin-bottom:80px;}
