// Colors
$white: #fff;
$black: #000;
$blue:  #58b9dc;
$grey_text: #837f7f;
$dark_grey:#343534;
$grey_bg:#9ea09f;

// Fonts
$bold: 'open_sansbold';
$normal:'open_sansregular';
$semibold:'open_sanssemibold';
