.grey_bg{background: $grey_bg}
.btn-blue{
  background: $blue;
  color: $white;
}
.btn-default{
  border-color: $black;
  font-family: $semibold;
  margin-right: 15px;
}

// Form
.form-control{
  @include border-radius(1px);
  padding: 10px 12px;
  height: auto;
}
.btn-black{
  background: $black;
  color: $white;
  font-family: $bold;
  font-size: 18px;
  text-transform: uppercase;
}
textarea.form-control{
  height: 100px;
  resize: none;
}

// Custom Checkbox
.checkbox{
  position: relative;
}
.checkbox label {
  position: relative;
  padding-left: 35px;
}
.checkbox input[type=checkbox]{
  left:0;
  margin:0;
  opacity: 0;
}
.checkbox label:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  top: 0px;
  left: 0px;
  border: 2px solid #ccc;
  display: block;
}
.checkbox input[type=checkbox]:checked + label:before {
  content:"";
  font-family:FontAwesome;
  line-height: 20px;
  color: red;
  border-color: $black;
  text-align: center;
}

// Custom Radio
.radio{
  position: relative;
}
.radio label {
  position: relative;
  padding-left: 35px;
}
.radio input[type=radio]{
  left:0;
  margin:0;
  opacity: 0;
}
.radio label:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  top: 0px;
  left: 0px;
  border: 2px solid #ccc;
  display: block;
  @include border-radius(50%)
}

.radio input[type=radio]:checked + label:before {
  content:"";
  font-family:FontAwesome;
  line-height: 20px;
  color: red;
  border-color: $black;
  text-align: center;
}

// Owl Carousel
.owl-prev{
  position: absolute;
  left:-40px;
  top:45%;
  &:before{
    background:rgba(0,0,0,.68);
    width: 60px;
    height: 60px;
    content:"\f0d9";
    font-family:FontAwesome;
    color: #d9d9d8;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    @include border-radius(50%)
  }
}
.owl-next{
  position: absolute;
  right:-40px;
  top:45%;
  &:before{
    background:rgba(0,0,0,.68);
    width: 60px;
    height: 60px;
    content:"\f0da";
    font-family:FontAwesome;
    color: #d9d9d8;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    @include border-radius(50%)
  }
}

// HEADER
header{
  background:$black;
  padding-top: 30px;
  padding-bottom: 30px;
  li{
    color: $grey_text;
    &:before{
      content: "|";
      margin-right: 10px;
    }
    &:first-child{
      &:before{
        display: none;
      }
    }
    a{
      color: $grey_text;
    }
  }
}

// Navigation
nav.navbar.bootsnav{
  background: $dark_grey !important;
  margin: 2px 0 5px;
  position: relative;
  padding-bottom: 30px;
  ul.navbar-nav{
    li{
      margin: 0 15px;
      a{
        img{
          max-width: 100%;
        }
        .logo-active{ display: none}
        &:hover{
          background:#d0d1d0 !important;
          .logo-active{ display: inline-block}
          .logo-inactive{ display: none}
        }
      }
      ul.dropdown-menu{
        a{
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }
  }
}

// Search
#search{
  width: 100%;
  position: absolute;
  bottom: -45px;
  z-index: 1;
  .container{
    background: $white;
    @include black_border(1px);
    padding: 15px;
    ul{
      margin-top: 12px;
      margin-bottom: 0px;
      a{
        text-transform: uppercase;
        font-family: $semibold;
        font-size: 20px;
      }
    }
    form{
      @include light_border(1px);
      padding: 10px 12px;
      .search-test{
        border: none;
        width: 96%;
      }
      .search-submit{
        border:none;
        background: none;
        font-family: FontAwesome;
      }
    }
  }
}

// Slider
#main_slider{
  img{width: 100%}
}
// Newsletter
#newsletter{
  form{
    max-width: 970px;
    margin:30px auto 0;
    .form-control{
      border-color: $black;
    }
  }
}

// Footer{
footer{
  background: $black;
  color: #858889;
  padding-top: 50px;
  h3{
    color: $white;
    margin-bottom: 20px;
  }
  a{
    color: #858889;
  }
  .social{
    a{
      background: $white;
      color: $black;
      //height:45px;
      //width: 45px;
      @include border-radius(5px);
      text-align: center;
      line-height: 47px;
      font-size: 18px;
      padding: 10px;
    }
  }
}