//----------------------------------------------------- HOME PAGE -----------------------------------------------------//
// About
#about{
  font-family: $semibold;
  line-height: 24px;
  p{
    padding: 0 50px;
    font-size: 18px;
  }
}

// Product List
#products{
// Product panel
  .pro_brands{
    h3{
      font-family: $bold;
      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 2px solid $black;
    }
    .panel-group{
      .panel{
        @include border-radius(0);
        border: none;
        border-top:1px solid #9c9c9c;
        margin-top: 0;
        &:first-child{
          border-top: none;
        }
        .panel-heading{
          background: #ededed;
          padding: 0px;
          font-family: $semibold;
          color: $black;
          a{
            font-size: 20px;
            display: block;
            position: relative;
            padding: 20px;
            &:after{
              content: "\f068";
              font-family:FontAwesome;
              color: $black;
              position: absolute;
              right:0;
              height:100%;
              width: 60px;
              background: #dbdbdb;
              top:0;
              line-height: 66px;
              text-align: center;
            }
            &.collapsed{
              &:after{
                display:none;
              }
            }
            &:hover,
            &:focus{
              color: $black;
            }
          }
        }
        .panel-body{
          border-top: none;
          background: #dbdbdb;
          padding: 25px;
          li{
            margin-bottom: 10px;
            a{
              color: $grey_text;
              font-family: $semibold;
              font-size: 18px;
              &:hover{
                color: $black;
              }
            }
          }
        }
      }
    }
  }
// Products
  .product{
    text-align: center;
    @include light_border(1px);
    position: relative;
    padding-bottom: 70px;
    h3{
      padding:0 10px;
    }
    p{
      font-family: $bold;
      font-size: 18px;
      padding:0 10px;
    }
    img{
      min-height: 250px;
      object-fit: cover;
    }
    a{
      background: $blue;
      color: $white;
      padding: 15px;
      font-size: 24px;
      display: block;
      margin-top: 40px;
      font-family: $bold;
      visibility: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }
    &:hover{
      a{
        visibility: visible;
      }
    }
  }
}

// Product Calrousel
#other_product{
  h1{
    font-size: 50px;
    margin: 50px 0;
    text-align: center;
  }
}
.oproduct{
  @include light_border(1px);
  ul{
    li{
      a{
        @include light_border(1px);
        height: 30px;
        width:30px;
        display: block;
      }
    }
  }
  ins{
    color: $blue;
    font-size: 18px;
    font-family: $semibold;
    text-decoration: none;
  }
  .quick{
    background: $blue;
    color: $white;
    padding: 15px;
    font-size: 24px;
    display: block;
    margin-top: 40px;
    font-family: $bold;
    visibility: hidden;
    text-align: center;
  }
  &:hover{
    .quick{
      visibility: visible;
    }
  }
}

// Three_list
#three_list{
  background: #f1f1f1;
  position: relative;
  .icon{
    content: "";
    width: 40px;
    height: 40px;
    background:#262626;
    position: absolute;
    left:0;
    @include border-radius(50%);
    top: 41px;
    left: 15px;
    text-align: center;
    line-height: 33px;
  }
  h3{
    padding-left: 50px;
    border-bottom: 3px solid #262626;
    padding-bottom: 15px;
  }
  p{
    padding-left: 50px;
  }
}

//----------------------------------------------------- PRODUCT LIST PAGE -----------------------------------------------------//
// Banner
#page_banner{
  background: $grey_bg;
}

// Filters
#filters{
  h3{
    margin-bottom: 27px;
  }
  .item_selelction{
    .btn-group{
      display: block;
      .btn{
        width: 100%;
        text-align: left;
        padding: 10px 12px;
        .caret{
          float: right;
          margin-top: 10px;
        }
      }
    }
    .dropdown-menu{
      position: relative;
      width: 100%;
    }
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
  .price_range{
    input{
      border: none;
      margin-bottom: 15px;
    }
    .ui-slider-horizontal{
      .ui-slider-range{
        background-color: $black;
      }
      .ui-state-default{
        @include black_border(6px);
        background: $white;
        &:focus{
          background: $blue;
        }
      }
    }
  }
}

// Product List
#product_list{
  // Toolbars
  .toolbars{
    margin-bottom: 20px;
    .pull-right{
      li{
        vertical-align: middle;
        margin-right: 10px;
        select.form-control{
          display: inline-block;
          width: auto;
          height: auto;
          margin:0 5px;
        }
      }
    }
    .pro_variation{
      li{
        padding: 5px 10px;
        vertical-align: middle;
        margin-right: 10px;
        &.active,
        &:hover{
          background: $black;
          a{
            color: $white;
          }
        }
      }
    }
  }
  // pagination
  .pagination{
    margin: 0;
    li{
      a{
        padding: 10px 17px;
        color: $black;
      }
    }
  }
  // Products
  .list_pro{
    position: relative;
    @include light_border(1px);
    margin-bottom: 20px;
    .colors{
      li{
        a{
          @include light_border(1px);
          height: 30px;
          width:30px;
          display: block;
        }
      }
    }
    ins{
      color: $blue;
      font-size: 18px;
      font-family: $semibold;
      text-decoration: none;
    }
    .quick{
      background: $blue;
      text-align: center;
      line-height: 250px;
      a{
        color: $white;
        font-size: 24px;
        font-family: $bold;
      }
    }
  }
}

// Product Detail
#product_detail{
  #gal_thumbs{
    &.owl-carousel{
      .owl-nav{
        display: block;
        .owl-prev{
          left:-15px;
          top:40%;
          &:before{
            width: 35px;
            height: 35px;
            line-height: 37px;
            font-size: 25px;
          }
        }
        .owl-next{
          right:-15px;
          top:40%;
          &:before{
            width: 35px;
            height: 35px;
            line-height: 37px;
            font-size: 25px;
          }
        }
      }
    }
  }
  .ratings{
    color: #aaa;
    i{
      color: $blue;
    }
  }
  .colors{
    li{
      a{
        @include light_border(1px);
        height: 30px;
        width:30px;
        display: block;
      }
    }
  }
  .cart_qty{
    li{
      vertical-align: middle;
      &.qty{
        width: 170px;
      }
      &.fav,
      &.compare{
        width: 50px;
        @include black_border(1px);
        @include border-radius(50%);
        height: 50px;
        text-align: center;
        line-height: 50px;
      }
      &.compare{
        line-height: 48px;
        a{
          color: $grey_bg;
          &:hover{
            color: $black
          }
        }
      }
    }
  }
  .price{
    color:$grey_bg;
    font-size: 30px;
    font-family: $bold;
    ins{
      text-decoration: none;
      color: $blue;
    }
  }
  .policy{
    li{
      font-family: $normal;
      position: relative;
      padding-left: 25px;
      margin-bottom: 15px;
      line-height:24px;
      display: block;
      &:before{
        font-family: FontAwesome;
        position: absolute;
        left:0;
      }
    }
  }
  .pro_tabs{
    .nav-tabs{
      li{
        a{
          background: #e3e3e3;
          font-family: $semibold;
          &:hover{
            color: $white;
            background: $blue;
          }
        }
        &.active{
          a{
            background: $white;
            color: $black;
          }
        }
      }
    }
    .tab-content{
      padding:20px;
      border: 1px solid #ddd;
      border-top: none;
    }
  }
  .color-table{
    label{
      margin-top: 7px;
    }
    .color-dropdown{
      .btn{
        padding: 10px 12px;
      }
      li{
        font-size: 16px;
        line-height: 24px;
        a{
          padding-bottom: 5px;
          span{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            &.glyphicon{
              display: none;
            }
          }
        }
      }
    }
    table{
      td,
      th{
        text-align: center;
        vertical-align: middle;
      }
      th{
        background: #f2f2f2;
      }
      td{
        padding-top: 10px;
        padding-bottom: 10px;
        &.qty{
          input{
            text-align: center;
          }
        }
      }
    }
  }
}

// Cart Page
#cart{
  th{
    font-size: 18px;
  }
  th,
  td{
    text-align: center;
    padding:10px;
    @include light_border(1px);
    &:first-child{
      text-align: left;
    }
  }
  a.fa-close{
    @include  light_border(1px);
    @include border-radius(50%);
    color :#ccc;
    height: 40px;
    width: 40px;
    line-height: 38px;
    &:hover{
      color: red;
      border-color:red;
    }
  }
  .cart_qty{
    span.input-group-btn{
      .btn{
        @include border-radius(50%);
        background: $white;
        @include light_border(1px);
        &:hover{
          border-color: $black;
          color: $black;
        }
      }
    }
    .form-control{
      border: none;
      @include box-shadow(none);
      text-align: center;
    }
  }
  .discount_coupon{
    .form-control{
      width: 76%;
      padding: 8px 12px;
      height: auto;
    }
    .btn{
      text-transform: capitalize;
      float: right;
      &:hover{
        color: $blue;
      }
    }
  }
  .chekout-btn{
    a{
      padding: 15px;
      font-family: $bold;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
}

// Checkout
#checkout{
  sup{color: red}
  .pay-btn{
    input{
      padding: 15px;
      font-family: $bold;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .ship-method{
    .radio{
      padding-top: 0;
      label{
        font-family: $semibold;
        padding-top: 2px;
      }
    }
  }
  .order_summry{
    padding-top: 10px;
    background: #f1f1f1;
    .item-list{
      li{
        border-top: 1px solid #ccc;
        padding: 10px 0;
        .chk_prc{
          width:73%;
          float: right;
        }
        &:first-child{
          border-top:none;
        }
      }
    }
    table{
      background: #cdcdcd;
      td{
        border-color: #aaa;
        &:last-child{
          text-align: right;
        }
      }
    }
  }
}

// Payment
#payment{
  .billing{
    address{
      background: #f8f8f8;
      padding: 20px;
      line-height: 30px;
    }
  }
  .order_summry{
    padding-top: 10px;
    background: #f1f1f1;
    padding-bottom: 10px;
    h3{
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-top: 10px;
    }
    address{
      line-height: 30px;
    }
    .white-border{
      background: $white;
      height: 20px;
      margin:10px -15px;
    }
  }

}